<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <title>Person Edit Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//getskeleton.com/dist/css/normalize.css">
    <link rel="stylesheet" href="//getskeleton.com/dist/css/skeleton.css">
    <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    {% if form.widget %}
        {{ form.widget.media }}
        <script src="{% static 'js/jquery.form.min.js' %}"></script>
        <script src="{% static 'js/edit.js' %}"></script>
    {% endif %}

</head>
<body>

<div class="section">
    <div class="container">
        <h3 class="section-heading">Person Edit Page</h3>

        <div class="row">
            <div class="one-half column">
                <form method="POST" enctype="multipart/form-data" id="main_form">
                    <div class="row">
                        <div class="one-half column" id="col_1"></div>
                        <div class="one-half column" id="col_2"></div>
                    </div>
                    {% csrf_token %}
                    <div id="photo_html">{{ form }}</div>
                    <input type="hidden" name="next" value="{% url 'edit_data' %}">

                    <div id="ajax_answer"></div>
                    <div class="row">
                        {% if form.widget %}
                            <input type="submit" value="Save">
                            &nbsp;&nbsp;&nbsp;
                            <a href="{% url 'home' %}">Cancel</a>
                        {% else %}
                            <input type="submit">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        <hr/>
        <div class="row">
            <div class="one-half column">
                <a href="{% url 'requests' %}">requests</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>