<html>
<head>
    <meta charset="utf-8">
    <title>42cc test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//getskeleton.com/dist/css/normalize.css">
    <link rel="stylesheet" href="//getskeleton.com/dist/css/skeleton.css">
</head>
<body>

<div class="section">
    <div class="container">

        <div class="row">
            <div class="ten columns"><h3 class="section-heading">42 Coffee Cups Test Assignment</h3></div>
            <div class="two columns">
                {% if user.is_authenticated %}
                    <a href="{% url 'edit_data' %}">Edit</a>
                    {% if user.is_staff %}
                        {% load edit_link %}
                        <a href="{% edit_link person %}">(admin)</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="one-half column">
                {{ person.first_name }}<br>
                {{ person.last_name }}<br>
                {{ person.date_of_birth|date:"d.m.Y" }}<br>
                Photo:<br>
                <img src="{{ person.get_img_url }}" alt="Photo">

            </div>
            <div class="one-half column">
                Contacts<br>
                Email: {{ person.email }}<br>
                Jabber: {{ person.jabber }}<br>
                Skype: {{ person.skype }}<br>
                <br>Other contacts:<br>
                {{ person.contacts }}
                <br><br>Bio:<br>
                {{ person.bio }}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="one-half column">
                <a href="{% url 'requests' %}">requests</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>